body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
}
a {
	color: inherit;
	font: inherit;
	text-decoration: inherit;
}
h1 {
	font-weight:normal;
}
.headerFollower {
	font-size: medium;
	vertical-align: bottom;
}
h2 {
	font-weight:normal;
}
tr.ignored {
	background-color: silver;
}
table {
	width: 100%;
	border-spacing: 0pt 0pt;
	border-collapse: collapse;
}
tr.head {
	background-color: turquoise;
}
th.subhead {
	background-color: paleturquoise;
	font-weight: normal;
}
td {
	border: .1pt solid silver;
	text-align: center;
}
.fill {
	width:100%; height:100%; display:block;
}
.category {
	color: black;
	text-align: left;
	text-decoration: none;
}
div.category {
 	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 10pt;
	margin-bottom: 10pt;
}
.benchmark {
	text-align: left;
}
.solver {
	display: inline-block;
	color: black;
}
.ranking ul {
	margin: 3pt;
	margin-left: 13pt;
	padding: 0pt;
}
.best.solver {
	color: black;
	font-weight: bold;
}
.config {
	font-weight: normal;
	font-size: 75%;
}
.ranking {
	text-align: left;
	border: .1pt solid silver;
	padding-left: 5pt;
	padding-right: 5pt;
}
.ranking td {
	text-align: left;
	border: none;
}

.score {
	font-size: small;
	font-weight: normal;
}
.score + .score {
	margin-left: 4pt;
}
.ranking .togo {
	color: gray;
	font-size: small;
}
.starexecid {
	color: gray;
	vertical-align: bottom;
	font-size: x-small;
}
.csv {
	color: dimgray;
	vertical-align: bottom;
	font-size: x-small;
}
.csv::before {
	content: "[";
}
.csv::after {
	content: "]";
}
.complete {
	background-color: #D0FFD0;
}
.incomplete {
	background-color: white;
}
.enqueued {
	background-color: fuchsia;
	color: white;
}
.timeout, .timeout * {
	background-color: #E0B0A0;
	color: black;
}
.memout, .memout * {
	background-color: #E0A0A0;
	color: black;
}
.score>.timeout, .score>.memout {
	background: none;
	color:darksalmon;
}
.YES {
	background-color:#60F0A0;
	color: black;
}
.CERTIFIED.YES {
	background-color:#00F080;
}
.score.best.YES {
	background-color:#60F0A0;
	font-weight: bold;
}
.score:not(.best).YES {
	background: none;
	font-weight: bold;
	color:#008020;
}
.NO {
	color: white;
	background-color: #60A060;
}
.CERTIFIED.NO {
	color: white;
	background-color:#408040;
}
.score.best.NO {
	background-color: #60A060;
	color: white;
}
.score:not(.best).NO {
	background: none;
	color: #006000;
}
.MAYBE {
	background-color: #E0D080;
	color: black;
}
.score>.MAYBE {
	background: none;
	color: #A09040;
}
.UNSUPPORTED {
	background-color: #888888;
	color: white;
}
.REJECTED {
	background-color: #FF5500;
	color: white; 
}
td.error {
	background-color: #808080;
	color: white;
}
.score>.LOW {
	background: none;
	color: #208020;
}
.LOW.d1 {
	background-color: #b0e0b0;
	color: black;
}
.LOW.d2 {
	background-color: #80d080;
	color: black;
}
td.LOW, .LOW.d3 {
	background-color: #40A040;
	color: white;
}
.LOW.np {
	background-color: #208020;
	color: white;
}
.best.LOW {
	background-color: #60A060;
	color: white;
}
.score .UP {
	background: none;
	color: black;
}
.UP.d0 {
	background-color: #00D0FF;
	color: black;
}
td.UP, .UP.d1 {
	background-color: #a0fff0;
	color: black;
}
.UP.d2 {
	background-color: #b0ffc0;
	color: black;
}
.UP.d3 {
	background-color: #c0f0c0;
	color: black;
}
.UP.poly {
	background-color: #C0F0C0;
	color: black;
}
.best.UP {
	background-color: #00FFF0;
	color: black;
	font-weight: bold;
}
span.news {
	background-color: #FFFF00;
	color: black;
	font-weight: bold;
}
.time,.error {
	color: gray;
	font-size: small;
}
.best.time {
	background-color: gray;
	color: white;
}
span.certified.time::before {
	content: "✔";
}
.score>.CERTIFIED::before {
	content: "✔";
}
td.NO span.time, td.unsupported span.time {
	color: lightgray;
}	
.conflict, .conflict .benchmark {
	background-color: red;
	color: white;
}
.conflicts {
	color: red;
	font-weight: bold;
}
.wrong {
	background-color: red;
	color: white;
	font-weight: bold;
}
.important {
	display: inline-block;
}
table .bar {
	width:100pt;
	vertical-align:middle;
}
.bar td {
	border: .1pt solid silver;
	text-align: center;
}
td.CERTIFIED {
	border: 1.5pt solid black;
}
.stats {
	color: gray;
	vertical-align: bottom;
	font-size: small;
}
.button {
	font-size: small;
	font-weight: normal;
}
.button::before {
	content: "[";
}
.button::after {
	content: "]";
}
tr.layer1 {
	background-color:#C0E0FF;
}
.CERTIFIED .rank::before {
	content: "✔";
}
div.participant::before {
	content: " • ";
}
div.CERTIFIED.participant::before {
	content: "✔";
}
span.team::after {
	content: " ";
}

