body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
}
h1, h1 a {
	font-weight:normal;
}
.headerFollower {
	font-size: medium;
	vertical-align: bottom;
}
h2 {
	font-weight:normal;
}
tr.ignored {
	background-color: silver;
}
table {
	width: 100%;
	border-spacing: 0pt 0pt;
	border-collapse: collapse;
}
tr.head {
	background-color: turquoise;
}
th a {
	color: black;
	text-decoration: none;
}
th.subhead {
	background-color: paleturquoise;
	font-weight: normal;
}
td {
	border: .1pt solid silver;
	text-align: center;
}
td a {
	text-decoration: none;
}
.fill {
	width:100%; height:100%; display:block;
}
.category, .category a {
	color: black;
	text-align: left;
	text-decoration: none;
}
div.category {
 	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 10pt;
	margin-bottom: 10pt;
}
.benchmark {
	text-align: left;
}
.solver, .solver a {
	display: inline-block;
	color: black;
}
.ranking ul {
	margin: 3pt;
	margin-left: 13pt;
	padding: 0pt;
}
.best.solver, .best.solver a {
	color: black;
	font-weight: bold;
}
.config {
	font-weight: normal;
	font-size: 75%;
}
.ranking {
	text-align: left;
	border: .1pt solid silver;
	padding-left: 5pt;
	padding-right: 5pt;
}
.ranking td {
	text-align: left;
	border: none;
}

.score {
	font-size: small;
	font-weight: normal;
}
.score::before {
	content: "(";
}
.score::after {
	content: ")";
}
.ranking .togo {
	color: gray;
	font-size: small;
}
.starexecid {
	color: gray;
	vertical-align: bottom;
	font-size: x-small;
}
.csv {
	color: dimgray;
	vertical-align: bottom;
	font-size: x-small;
}
.csv::before {
	content: "[";
}
.csv::after {
	content: "]";
}
.complete {
	background-color: #D0FFD0;
}
.incomplete {
	background-color: white;
}
.active {
	background-color: fuchsia;
	color: white;
}
.timeout, .timeout a {
	background-color: darksalmon;
	color: black;
}
.YES, .YES a {
	background-color:#60F0A0;
	color: black;
}
.CERTIFIED.YES, .CERTIFIED.YES a {
	background-color:#00F080;
	color: black;
}
.score .best.YES {
	font-weight: bold;
}
.score :not(.best).YES {
	background: none;
	color: black;
}
.NO, .NO a {
	background-color: #60A060;
	color: white;
}
.CERTIFIED.NO, .CERTIFIED.NO a {
	background-color:#408040;
	color: white;
}
.score :not(.best).NO {
	background: none;
	color: #006000;
}
.MAYBE, .MAYBE a {
	background-color: #E0D080;
	color: black;
}
.UNSUPPORTED, .UNSUPPORTED a {
	background-color: gray;
	color: white;
}
.error, .error a {
	background-color: red;
	color: white; 
}
.starexecbug, .starexecbug a {
	background-color: gray; 
	color: white;
}
.LOW, .low1, .low1 a {
	background-color: #60C060;
	color: black;
}
.low2, .low2 a {
	background-color: #60A060;
	color: #E0E0E0;
}
.low3, .low3 a {
	background-color: #40A040;
	color: white;
}
.lowNP, .lowNP a {
	background-color: #208020;
	color: white;
}
.best.LOW {
	background-color: #60A060;
	color: white;
}
.score .LOW {
	background: none;
	color: #208020;
}
.up0, .up0 a {
	background-color: #00B0FF;
	color: black;
}
.UP, .up1, .up1 a {
	background-color: #20E0E0;
	color: black;
}
.up2, .up2 a {
	background-color: #80FFB0;
	color: black;
}
.up3, .up3 a {
	background-color: #B0D0B0;
	color: black;
}
.upP, .upP a {
	background-color: #C0F0C0;
	color: black;
}
.best.UP {
	background-color: #00FFF0;
	color: black;
	font-weight: bold;
}
.score .UP {
	background: none;
	color: 20E0E0;
}
td.time, th.time {
	width: 1%;
}
.time, .time a {
	color: gray;
	font-size: small;
}
.best.time {
	background-color: gray;
	color: white;
}
span.certified.time::before {
	content: "✔";
}
td.NO span.time, td.unsupported span.time {
	color: lightgray;
}	
.conflict, .conflict .benchmark {
	background-color: red;
	color: white;
}
.conflicts {
	color: red;
	font-weight: bold;
}
table .bar {
	width:100pt;
	vertical-align:middle;
}
.bar td {
	border: .1pt solid silver;
	text-align: center;
}
td.CERTIFIED {
	border: 1.5pt solid black;
}
.stats {
	color: gray;
	vertical-align: bottom;
	font-size: small;
}
.button {
	font-size: small;
	font-weight: normal;
}
.button::before {
	content: "[";
}
.button::after {
	content: "]";
}
tr.layer1 {
	background-color:#C0E0FF;
}
.CERTIFIED .rank::before {
	content: "✔";
}
div.participant::before {
	content: " • ";
}
div.CERTIFIED.participant::before {
	content: "✔";
}